*{
    box-sizing: border-box;
}


html, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    max-width: 1600px;
    top: 0;
    height: 90px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 5px -4px rgba(0, 0, 0, .2);
}
    #logo{
        float: left;
        margin-left: 12.58%;
        padding: 27px 0 27px 27px;
    }
    nav{
        float: right;
        margin-right: 14.69%;
    }
        nav a{
            padding: 32px 24px 38px 24px;
            margin: 0 -5px;
            color: #777777;
            text-decoration: none;
        }
        .headerList{
            font-family:  FontAwesome,  sans-serif;
            font-weight: 700;
            font-size: 0.85em;
            letter-spacing: 1px;
            margin: 0 0 0 0;
            text-transform: uppercase;
            align-items: center;
        }
        nav li{
            padding: 36px 0 38px 0;
            display: inline-block;
            list-style: none;
        }
        nav li:first-child{
            padding-left: 0;
        }
        nav button{
            display: inline-block;
            border: 0;
            background-color: rgba(0,0,0,0);
            margin-left: 15px;
        }
        nav button:hover{
            cursor: pointer;
        }
        nav a:hover{
            font-family: "Roboto Bold", LatoBold, sans-serif;
            font-weight: bold;
            color: black;
            padding-left: 10px;
            margin-left: -20px;
        }
        nav a:hover:before{

            content: '\2014' '\2003';
        }

    @media (max-width: 1199px){
        nav{
            margin-right: 7%;
        }
        #logo{
            margin-left: 6%;
        }
    }
    @media (max-width: 899px) {
        nav{
            margin-right: 3.5%;
            margin-left: -20px;
        }
        #logo{
            margin-left: 3%;
        }
    }

    @media (max-width: 813px){
        nav{
           margin-right: 3%;
            margin-left: -20px;
        }

        #logo{
          padding: 27px 0;
        }
        #logo img{
            height: 30px;
        }
    }



    @media (max-width: 767px){
        /*BURGER MENU*/

        .whiteBackHeader{
            position: absolute;
            height: 50px;
            width: 100%;
            top: 0;
            z-index: 2;
            background-color: white;
        }

        .burger{
            position: relative;
            float: right;
            margin: 2px 30px 0 0;
            width: 40px;
            height: 50px;
            z-index: 3;
        }
        .burger:before, .burger:after, .burger span{
            content: '';
            display: block;
            position: relative;
            height: 2px;
            width: 100%;
            background-color: #777777;
            left: 0;
        }
        .burger:before{
            top: 10px;
            transition: all 0.3s;
        }
        .burger:after{
            top: 30px;
            transition: all 0.3s;
        }
        .burger span{
            top: 20px;
        }
        .burger:hover {
            cursor: pointer;
        }
        .burger:hover.burger:before,
        .burger:hover.burger:after,
        .burger:hover.burger span{
            background-color: black;
        }
        nav{
            float: none;
            background-color: white;
            margin: 0 auto -30px auto;
            z-index: 1;
            height: 900px;
        }
        nav li{
            display: block;
        }
        header{
            height: 50px;
        }
        .headerList{
            margin: -900px 0 0 0;
            transition: all 0.6s;
        }
        .headerList.active{
            margin: 50px 0 0 0;
        }
        .burger.active:before{
            transform: rotate(45deg);
            top: 20px;
        }
        .burger.active:after{
            transform: rotate(-45deg);
            top: 20px;
        }
        .burger.active span{
            height: 0;
        }
        #logo{
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            padding: 15px 0 0 25px;
            margin: 0;
            float: left;
            z-index: 3;
        }
        #logo img{
            height: 20px;
        }
    }



.slider{
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 90px;

}
    @media (max-width: 767px){
        .slider{
            margin-top: 50px;
        }
    }
    .slider h1, h3{
        font-family: sans-serif;
        position: relative;
        text-align: center;
        margin: 0 15%;
        text-transform: uppercase;
    }
    .slider h1{
        position: relative;
        max-width: 100%;
        top: 40.62%;
        width: max-content;
        margin:  auto;
        background-color: black;
        padding: 0 2.6%;
        color: white;
        font-weight: 200;
        font-size: 2.95em;
        letter-spacing: 3px;
    }
    .slider h3{
        font-weight: 200;
        top: 46%;
        letter-spacing: 5px;
    }
    .firstSlide, .secondSlide{
        background-size: cover;
        background-position: center center;
        position: absolute;
        height: 650px;
        width: 100%;
    }
    .firstSlide{
        background-image: url("images/slider1full.png");
    }
    .secondSlide{
        background-image: url("images/slider2full.png");
    }
    .hidden{
        display: none;
    }

    .slider button{
        position: relative;
        background-color: rgba(0,0,0,0);
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 25px;
        margin: 300px 40px;
        outline: none;
    }
    .slider button:hover{
        background-color: black;
        cursor: pointer;
        border: 0;
    }
    #buttonNext{
        float: right;
    }
    .slider button:before, .slider button:after{
        content: '';
        position: absolute;
        left: 12px;
        width: 20px;
        height: 1px;
        background-color: white;
    }
    .slider #buttonPrevious:before{
        top: 16px;
        transform: rotate(-45deg);
    }
    .slider #buttonPrevious:after{
        top: 30px;
        transform: rotate(45deg);
    }
    .slider #buttonNext:before{
        top: 16px;
        transform: rotate(45deg);
        left: 17px;
    }
    .slider #buttonNext:after{
        top: 30px;
        transform: rotate(-45deg);
        left: 17px;
    }




.backgroundMain{
    background-color: #fafafa;
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.5);
}
main{
    box-sizing: initial;
    max-width: 1140px;
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    padding: 35px 0 0 0;
    background-color: #fafafa;
}

    .tabNav{
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        text-transform: uppercase;
        max-width: 1140px;
        margin: 0 auto 0 auto;
        justify-content: center;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        min-height: 65px;
    }
        .tabNav a{
            color: #777777;
            text-decoration: none;
            padding: 25px 25px 25px 25px;

        }
        .tabNav a:before{
            content: '';
            display: inline-block;
            position: absolute;
            margin: -17px 0 0 -30px;
            width: 1px;
            height: 50px;
            background-color: #e1e1e1;
            transform: rotate(15deg);
        }
        .tabNav a:first-child:before{
            width:0;
        }


    .images{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-around;
    }
        .column{
            max-width: 385px;
            flex: 33.33333%;
        }
        .column:first-child{
            margin-left: -12px;
        }
        .column:nth-child(2){
            margin-left: 5px;
            margin-right: 5px;
        }
        .column:last-child{
            margin-right: -14px;
        }
        .images img {
            max-width: 360px;
            margin: 30px 0 0 0;
        }
        .backImg{
            position: relative;
            width: 385px;
        }
        .backImg:hover.backImg:before{
            content: '';
            position: absolute;
            top: 30px;
            left: 13px;
            right: 12px;
            bottom: 4px;
            background-color: rgba(0,0,0,0.5);
            cursor: pointer;
        }
        #loadMore{
            color: white;
            border: 0;
            background-color: #959595;
            margin-top: 35px;
            margin-bottom: 70px;
            padding: 8px 25px;
            border-radius: 3px;
            transition: all 0.3s;
        }
        #loadMore:hover{
            cursor: pointer;
            background-color: #777777;

    }
footer{
    position: relative;
    max-width: 1600px;
    height: 300px;
    width: 100%;
    z-index: 0;
    text-align: center;
}
    footer #logo2{
        display: inline-block;
        margin:65px 0 45px 0;
    }
    #logo2:hover{
        cursor: pointer;
    }
    footer .socialMedia{
        font-family: FontAwesome;
        width: 100%;
        padding: 15px 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        letter-spacing: 20px;
        color: #777777;
    }
    footer p{
        color: #777777;
        margin: 35px 0 45px 0;
    }

