.mainContent {
    max-width: 1200px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 0 0 175px;
    overflow: hidden;
}
.mainContent-revers {
    flex-direction: row-reverse;
    padding: 0 200px 0 0;
}
.mainContent img {
    object-fit: cover;
    max-width: 100%;
}
@media(max-width: 967px) {
    .mainContent {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
}
@media(max-width: 499px) {
    .mainContent-revers {
        margin: 40px auto 0 auto;
    }

}
